<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Conversion History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">STL to LEGO</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Convert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('history') }}">History</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5">Conversion History</h1>
        <ul class="list-group mt-4">
            {% for result in results %}
                <li class="list-group-item">
                    <a href="{{ url_for('view_result', result_folder=result) }}">{{ result }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html> 